{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="form-group">
        <label for="inputName" class="col-sm-3 control-label">Mot de passe actuelle</label>

        <div class="col-sm-9">
            {{ form_widget(form.current_password, {'attr':{'class':'form-control','id':'inputName','placeholder':'Mot de passe actuelle'}}) }}
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="inputName" class="col-sm-3 control-label">Nouveau mot de passe</label>

        <div class="col-sm-9">
            {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control','id':'inputName','placeholder':'Nouveau mot de passe'}}) }}
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="inputSkills" class="col-sm-3 control-label">Verification</label>

        <div class="col-sm-9">
            {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control','id':'inputName','placeholder':'Verification'}}) }}
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <input class="btn btn-danger" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
    <div>

    </div>
{{ form_end(form) }}
