<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}

            <!-- CSS -->
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
            <link rel="stylesheet" href="{{ asset('avanzu/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('avanzu/dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('avanzu/plugins/iCheck/square/blue.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            <style>
                body{
                    background-image: url("{{ asset('background/images/3.jpg') }}");
                }
            </style>

        {% endblock %}
    </head>
    <body class="login-page" id="page" style="background-image: url('{{ asset('background/images/3.jpg') }}')">
        {#<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>#}
    <div class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

        {% block javascripts %}
            <!-- Javascript -->
            <script src="{{ asset('avanzu/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('avanzu/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('avanzu/plugins/iCheck/icheck.min.js') }}"></script>

            <script>
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
